:root {
  --body-text-color: darkgreen;
  --background-color: ivory;
  --background-edge: #f7efa0;
  --title-color: #8f7500;
  --active-button: #fbf1ab;
  --navigation-bar: #FFFAD1;
  }
  
  .menu-bar {
    background-color: var(--background-edge);
    border: solid 5px;
  }
  
  .pokeball {
      width: 100px;
      height: auto;
      float: left;
      position: relative;
  }
  
  .pokemon-image {
    height: 100px;
    width: auto;
    float: left;
  }
  
  .navbar-light {
    background-color: var(--navigation-bar);
    border-bottom: solid 5px var(--body-text-color);
  }
  
  .background {
    background-color: var(--background-edge)
  }

  .title-search {
    display: flex;
    flex-flow: column wrap;

  }
  
  body {
      background: linear-gradient(90deg, var(--background-edge), var(--background-color) 50%, var(--background-edge));
      color: var(--title-color);
      margin-top: 150px;
  }
  
  h1 {
      text-align: center;
  }
  
  ul {
      list-style-type: none;
      margin-top: 50px;
  }
  
  li.list-group-item {
    background: inherit;
    border: none;
    
  }
  
  .button-class {
      width: 90%;
      margin: 10px;
      padding: 20px;
      font-weight: bold;
      border: solid var(--body-text-color);
      background-color: var(--background-color);
      color: var(--body-text-color);
      font-size: 20px;
      border-radius: 10px;
      box-shadow: 3px 3px 3px var(--body-text-color)
  }
  
  .button-class:hover {
      background-color: var(--navigation-bar);
      box-shadow: 5px 5px 5px var(--title-color);
      color: var(--title-color);
  }
  
  .button-class:active {
    background-color: var(--active-button);
  }
  
  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
    .modal-image {
      height: 200px;
      width: auto;
      float: right;
    }
  
    .poke-info {
      font-size: 20px;
      font-weight: bold;
    }

    .not-visible {
      display: none;
    }

    @media all and (max-width: 342px) {
      .pokeball {
        display: none;
      }
    
      body {
        margin-top: 170px;
      }
  
      .pokemon-list {
        grid-template-columns: 1fr;
      }
  
      .navbar-brand {
        height: 60px;
        width: auto;
      }
    }

    @media all and (min-width: 343px) and (max-width: 408px) {
      .pokeball {
        display: none;
      }
    
      body {
        margin-top: 110px;
      }
  
      .pokemon-list {
        grid-template-columns: 1fr;
      }
  
      .navbar-brand {
        height: 60px;
        width: auto;
      }
    }

  @media all and (min-width: 409px) and (max-width: 442px) {
      .pokemon-list {
       grid-template-columns: 1fr;
      }
  
      body {
        margin-top: 110px;
      }
  
      #poke-modal {
        width: 90%;
        position: absolute;
        left: 8%;
        top: 50px;
      }

      .navbar-brand {
        height: 60px;
        width: auto;
      }
  }

  @media all and (min-width: 443px) and (max-width: 499px) {
    .pokemon-list {
      grid-template-columns: 1fr 1fr;
    }

    #poke-modal {
      width: 90%;
      position: absolute;
      left: 8%;
      top: 50px;
    }

    body {
      margin-top: 110px;
    }

    .navbar-brand {
      height: 60px;
      width: auto;
    }
  }
  
  @media all and (min-width: 500px) and (max-width: 548px) {
    #poke-modal {
      left: 2%;
      }

      .navbar-brand {
        height: 60px;
        width: auto;
      }

      body {
        margin-top: 110px;
      }
  }

  @media all and (min-width: 500px) and (max-width: 750px) {
    .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
  
  #poke-modal {
    left: 4%;
  }
  }

  @media all and (min-width: 650px) and (max-width: 750px) {
    .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  #poke-modal {
    left: 4%;
  }
  }