:root {
--body-text-color: darkgreen;
--background-color: ivory;
--background-edge: #FFFAD1;
--title-color: #C2A000;
}

.pokeball {
    width: 100px;
    height: auto;
    float: left;
    position: relative;
    top: 10px;
}

.title-pokedex {
    position: relative;
    top: 10px;
    right: 50px;
}

body {
    background: linear-gradient(90deg, var(--background-edge), var(--background-color) 50%, var(--background-edge));
    text-align: center;
    color: var(--title-color);
}

hr {
	border: 0;
	height: 3px;
	background-image: linear-gradient(to right, rgba(0, 100, 0, 1), rgba(0, 100, 0, 0.75), rgba(0, 100, 0, 0));
}

main {
    white-space: pre-wrap;
    color: var(--body-text-color);
    font-weight: bold;
    border: solid var(--body-text-color);
    border-radius: 10px;
    padding: 0 30px;
    display:inline-block;
    margin: 15px;
    position: relative;
    right: 50px;
}

p {
    margin-bottom: 15px;
}

h4 {
    color: var(--title-color);
}

@media all and (max-width: 500px) {
  main {
    float: right;
  }
}